.profile_layout{
    display:flex;
    align-items: center;
    height: 95vh;
    flex-direction: column;
}

.profile_card{
    height: 450px;
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 15px 8px rgba(161,161,161,0.35);
    border-radius: 10px;
}

.account_details{
    margin-top:25px;
}

.account_details p{
    margin-top:10px;
}