.login_layout{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.login_card{

}

.login_image{
    height: 80px !important;
    width: 80px;
}